# Requirements 
# 推荐py37

# common
numpy
pandas
h5py

# astro
drms
sunpy
astropy
scipy

# for plot
matplotlib

# for computer
psutil

# for download fits
requests
bs4
lxml
zeep

# for label
peewee
wget


